*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font:1.5rem;
    min-height:100vh;
    background-color:bisque;
    background-image:radial-gradient(blue,red);
    display:flex;
    flex-direction:column;
}
header,nav,main,footer{
    display:grid;
    justify-content:center;
    align-items:center;
    grid-template-columns: 100%;
    text-align:center;
}
header,footer{
    background-color:gray;
    color:white;
    position:sticky;

}
header{
    top:0;
}
footer{
    bottom:0;
}
main{
    flex-grow:1;
}
nav{
    background-color: white;
    color:black;
    padding:0.5rem;
    border-bottom:2px solid black;
}
/*small screen*/
@media screen and (min-width:576px){
   body{
     background-color: green;
     background-image:radial-gradient(whitesmoke,green);
   }
   nav{
    display:none;
   }
}
/*medium */
@media screen and (min-width:768px){
    body{
        background-color:red;
        background-image:radial-gradient(whitesmoke,red);
    }

}
/*large*/
@media screen and (min-width:900px){
    body{
        background-color:yellow;
        background-image:radial-gradient(whitesmoke,yellow);
    }
}